@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    display: none;
}

.underline-animation {
  position: relative;
}

.underline-animation::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #8750f7; /* Your desired underline color */
  transition: width 0.3s ease-in-out;
  z-index: 1;
}

.underline-animation:hover::before {
  width: 100%;
}